version: '3.8'

services:
  ticket-bot:
    build: .
    container_name: discord_ticket_bot
    restart: always
    env_file:
      - .env
    
    # 建議加入時區設定，Log 的時間才不會亂掉
    environment:
      - TZ=Asia/Taipei

    volumes:
      - ./log:/app/log      # 確保 logs 存留在主機
      - ./img:/app/img      # 確保 QR code 和截圖存留在主機

    healthcheck:
        # 修改後的 test 指令：只要 find 找得到符合時間的檔案就回傳 0 (成功)，否則 1 (失敗)
        test: ["CMD-SHELL", "find /tmp/heartbeat -mmin -6 | grep . || exit 1"]
        interval: 2m       
        timeout: 10s       
        retries: 30         
        start_period: 1m   

    # 限制日誌大小，防止 Docker 的日誌檔把硬碟撐爆
    logging:
      driver: "json-file"
      options:
        max-size: "10mb"
        max-file: "3"